html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: black;
  background: white; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

abbr, acronym {
  border: 0; }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative; }

.ji-button {
  min-width: 34px;
  min-height: 34px;
  padding: 0;
  margin: 0;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 2px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }
  .ji-button:active {
    border-bottom-width: 1px;
    margin-top: 1px;
    background-color: #f7f7f7; }

.ji-button-primary {
  color: #FFF;
  background-color: #FF512F; }
  .ji-button-primary:active {
    background-color: #fb2900; }

.ji-right {
  padding-right: 500px; }

.ji-pane {
  background: #FF512F;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FF512F, #F09819);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF512F, #F09819);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF512F, #F09819);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FF512F, #F09819);
  /* Standard syntax */
  width: 500px;
  height: 100%;
  right: 0;
  position: absolute;
  border-left: 1px solid rgba(255, 81, 47, 0.5);
  box-sizing: border-box; }

.ji-viewer {
  width: 100%;
  height: 100%;
  padding-top: 56px;
<<<<<<< HEAD
  position: relative;
  box-sizing: border-box; }
=======
  position: relative; }
>>>>>>> 693c7d268203feaedde217227ab027d34fbe0942

.ji-url-input-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 10px 60px 10px 15px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #ffe6e2; }
  .ji-url-input-wrapper .ji-url-input {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 7px 15px;
    box-sizing: border-box; }
  .ji-url-input-wrapper .ji-button {
    position: absolute;
    top: 10px;
    right: 13px; }

/*# sourceMappingURL=style.css.map */
